html * {
    box-sizing: border-box;
    padding: 0;
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding-bottom: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 2100px;
    min-height: 400px;
    margin: 40px 10px 10px 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
    background-color: blueviolet;
}

header a {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
}

header a img {
    width: 70%;
    background-color: blueviolet;
}

/* Style the top navigation bar */
.topnav {
    width: 100%;
    background-color: white;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: flex;
    color: grey;
    text-align: center;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}

.topnav a.right {
    float: right;
    align-items: center;
    padding-top: 17px;
    background-color: white;
}

.topnav a.left {
    background-color: white;
    padding-top: 17px;
}

/* Change color on hover */
.topnav a:hover {

    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.topnav a.basket {
    float: right;
    background-color: #f9f9f9;
    width: 60px; /* Fast bredde på billedet */
    height: auto; /* Automatisk højde, så billedet bevare sin proportion */
}

.topnav img {
    background-color: #f9f9f9;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 36px;
    text-transform: uppercase;
}

.form-table {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    max-height: 80%;
    border-radius: 8px;
    text-align: center;
}

.form-choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

button.produced-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 6px 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, transform 0.2s;
}

button.produced-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

button.edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 6px 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, transform 0.2s;
}

button.edit-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

input[type="text"], input[type="submit"] {
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.4s, color 0.4s, transform 0.2s;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
input[type="text"].enter-amount, input[type="text"].enter-username {
    padding: 12px 20px;
    border: 2px solid #4CAF50;
    border-radius: 25px;
    margin: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"].enter-amount:focus, input[type="text"].enter-username:focus {
    border-color: #45a049;
    outline: none;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-container {
    padding: 5px;
}
th, td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
tr:hover {
    background-color: #f0f0f0;
}
/* Truncate long text in table cells */
.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button.delete-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 6px 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, transform 0.2s;
}

button.delete-button:hover {
    background-color: #dc143c;
    transform: scale(1.05);
}

button.produced-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 6px 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, transform 0.2s;
}

button.produced-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.form-container {
    /*display: inline-flex;*/
    flex-direction: row;
    align-items: flex-start;
    background-color: #f9f9f9;
}

.button-container-checkout {
    padding-right: 7px;
    text-align: right;
    margin-top: 20px;
    font-family: inherit;
    background-color: #f9f9f9;
}

.betal {
    background-color: #28a745;
    color: white;
    padding: 8px 25px 8px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px;
    transition: background-color 0.4s, transform 0.2s;
}

.betal:hover {
    background-color: #218838;
    transform: scale(1.05);
}


.closemessage {
    background-color: #007bff;
    color: white;
    top-margin: 30px;
    padding: 8px 25px 8px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.4s, transform 0.2s;
}

.closemessage:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
.modal-med-salg {
    display: block;
    position: fixed;
    z-index: 100;
    top: 44%;
    left: 35%;
    width: 600px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0);
}

.modal-med-salg-content {
    background-color: #f9f9f9;
    margin: 16% auto;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: 8px;
}

.sales-table {
    width: 85%;
    border-collapse: collapse;
    margin: 20px;
}

.sales-table td {
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: right;
    border-bottom: 1px solid #ddd;
}

.sales-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.modal-med-fejlbesked {
    display: block;
    position: fixed;
    z-index: 100;
    top: 44%;
    left: 45%;
    width: 250px;
    background-color: rgba(0, 0, 0, 0);
}

.modal-fejl-content {
    background-color: #f9f9f9;
    margin: 16% auto;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: 8px;
}

#textMessage {
    color: black;
    font-size: 20px;
    width: 100%;
    margin: 15% auto;
    background-color: #f9f9f9;
    text-align: center;
}

.order-modal {
    display: block;
    position: fixed; /* Positioner modalen fast på skærmen */
    z-index: 0; /* Sørg for, at modalen er foran alt andet indhold */
    top: 44%;
    left: 50%;
    width: 650px;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 35px 35px 30px 35px;
    box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: 10px;
}

/* Style for modal content */
.modal-content {
    position: relative;
    z-index: 100;
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 35px 35px 30px 35px;
    box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: 10px;
    text-align: center;
}

.modal div {
    background-color: #f9f9f9;
    padding: 10px;
    width: 100%;
    text-align: left;
}

.editorder {
    border-collapse: collapse;
    width: 100%;
    background-color: #f9f9f9;
    font-size: 16px;
}

.editorder td {
    padding: 3px;
    border: none;
    background-color: #f9f9f9;
    text-align: left;
}

.editorder td:first-child {
    text-align: right;
}

.editorder label {
    width: 30px;
    font-weight: bold;
    text-align: right;
    background-color: #f9f9f9;
}

.editorder input[type="text"] {
    width: calc(100% - 140px);
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 10px;

}

.editorder input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
}

/* Style for the modal */
.modal {
    display: block;
    position: fixed; /* Positioner modalen fast på skærmen */
    z-index: 0; /* Sørg for, at modalen er foran alt andet indhold */
    top: 44%;
    left: 50%;
    width: 650px;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 35px 35px 30px 35px;
    box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: 10px;
}

/* Style for modal content */
.modal-content {
    position: relative;
    z-index: 100;
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 35px 35px 30px 35px;
    box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: 10px;
    text-align: center;
}

.modal div {
    background-color: #f9f9f9;
    padding: 10px;
    width: 100%;
    text-align: left;
}

.inline-label-input {
    text-align: left;
    margin-right: 10px; /* Juster margen efter behov */
    background-color: #f9f9f9;
}

#messageText {
    color: black;
    font-size: 20px;
    background-color: #f9f9f9;
    text-align: left;
}

.editpart {
    border-collapse: collapse;
    width: 100%;
    background-color: #f9f9f9;
    font-size: 16px;
}

.editpart td {
    padding: 3px;
    border: none;
    background-color: #f9f9f9;
    text-align: left;
}

.editpart td:first-child {
    text-align: right;
}

.editpart label {
    width: 30px;
    font-weight: bold;
    text-align: right;
    background-color: #f9f9f9;
}

.editpart input[type="text"] {
    width: calc(100% - 140px);
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.editpart input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
}


.close {
    color: #aaa;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    background-color: #f9f9f9;
    z-index: 100;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 730px) {
    .page {
        padding: 10px;
        min-height: 285px;
    }

    .container {
        width: 95%;
    }

    h1 {
        font-size: 28px;
        margin: 20px;
    }

    h2 {
        font-size: 20px;
    }

    .form-choice {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .topnav a {
        font-size: 16px;
    }

    button.produced-button {
        padding: 6px 10px;
        border-radius: 8px;
        font-size: 14px;
    }
    button.delete-button {
        padding: 6px 10px;
        font-size: 14px;
    }
    input[type="text"].enter-amount, input[type="text"].enter-username {
        padding: 12px 80px;
        margin: 5px;
        font-size: 14px;
    }
    input[type="text"], input[type="submit"] {
        padding: 12px 80px;
        font-size: 14px;
        margin: 5px;
    }

    th, td {
        padding: 6px;
        font-size: 14px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

}

@media (max-width: 600px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 18px;
    }
    .topnav a {
        font-size: 16px;
    }

    .topnav .left {
        padding-left: 18px;
    }

    button.produced-button {
        padding: 6px 10px;
        border-radius: 8px;
        font-size: 12px;
    }
    button.delete-button {
        padding: 6px 10px;
        font-size: 12px;
    }
    input[type="text"].enter-amount, input[type="text"].enter-username {
        padding: 12px 80px;
        font-size: 12px;
        margin: 5px;
    }
    input[type="text"], input[type="submit"] {
        padding: 12px 80px;
        font-size: 12px;
        margin: 5px;
    }

    th, td {
        padding: 6px;
        font-size: 12px;
    }
}

@media (max-width: 495px) {
    h1 {
        font-size: 18px;
    }
    th, td {
        padding: 5px;
        font-size: 10px;
    }
}