html * {
    box-sizing: border-box;
    padding: 0;
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding-bottom: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 2100px;
    min-height: 400px;
    margin: 40px 10px 10px 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
    background-color: blueviolet;
}

header a {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
}

header a img {
    width: 70%;
    background-color: blueviolet;
}

/* Style the top navigation bar */
.topnav {
    width: 100%;
    background-color: white;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: flex;
    color: grey;
    text-align: center;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}

.topnav a.right {
    float: right;
    align-items: center;
    padding-top: 17px;
    background-color: white;
}

.topnav a.left {
    background-color: white;
    padding-top: 17px;
}

/* Change color on hover */
.topnav a:hover {

    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.topnav a.basket {
    float: right;
    background-color: #f9f9f9;
    width: 60px; /* Fast bredde på billedet */
    height: auto; /* Automatisk højde, så billedet bevare sin proportion */
}

.topnav img {
    background-color: #f9f9f9;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 36px;
    text-transform: uppercase;
}

.form-table {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    max-height: 80%;
    border-radius: 8px;
    text-align: center;
}

.form-choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

button.produced-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 6px 14px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, transform 0.2s;
}

button.produced-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

button.edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 6px 14px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, transform 0.2s;
}

button.edit-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

input[type="text"], input[type="submit"] {
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.4s, color 0.4s, transform 0.2s;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
}
input[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
input[type="text"].enter-amount, input[type="text"].enter-username {
    padding: 12px 20px;
    border: 2px solid #4CAF50;
    border-radius: 25px;
    margin: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"].enter-amount:focus, input[type="text"].enter-username:focus {
    border-color: #45a049;
    outline: none;
    border-radius: 25px;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-container {
    padding: 5px;
}
th, td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
tr:hover {
    background-color: #f0f0f0;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button.delete-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 6px 14px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, transform 0.2s;
}

button.delete-button:hover {
    background-color: #dc143c;
    transform: scale(1.05);
}

button.produced-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 6px 14px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, transform 0.2s;
}

button.produced-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.button-container-checkout {
    padding-right: 7px;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: inherit;
    background-color: #f9f9f9;
}

.button-container-checkout button {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


.button-container-betal-button button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button.betal-button {
    background-color: #28a745;
    color: white;
    padding: 10px 25px 10px 25px;
    border: none;
    margin-bottom: 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.4s, transform 0.2s;
}

button.betal-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.betal {
    background-color: #28a745;
    color: white;
    padding: 8px 25px 8px 25px;
    border: none;
    margin-bottom: 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 22px;
    transition: background-color 0.4s, transform 0.2s;
}

.betal:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.closemessage {
    background-color: #007bff;
    color: white;
    margin-top: 15px;
    margin-left: 10px;
    padding: 8px 25px 8px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.4s, transform 0.2s;
}

.closemessage:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.modal-med-salg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrering */
    width: 80%;
    max-width: 350px;
    height: auto; /* Automatisk højde */
    background-color: rgba(0, 0, 0, 0);
    padding: 20px; /* Tilføjet padding */
    box-sizing: border-box; /* Inkluder padding og border i elementets samlede bredde og højde */
}

.modal-med-salg-content {
    background-color: #f9f9f9;
    padding: 20px; /* Øget padding for bedre layout */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Justeret skygge for bedre effekt */
    border-radius: 8px;
    width: 95%;
}

.sales-table {
    width: 100%; /* Ændret fra 95% til 100% */

}

.sales-table td {
    padding-right: 10px; /* Justeret padding */
    padding-left: 10px;
    text-align: right;
    border-bottom: 1px solid #ddd;
}

.sales-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.modal-med-fejlbesked {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrering */
    width: 80%;
    max-width: 250px;
    height: auto; /* Automatisk højde */
    background-color: rgba(0, 0, 0, 0);
    padding: 20px; /* Tilføjet padding */
    box-sizing: border-box; /* Inkluder padding og border i elementets samlede bredde og højde */
}

.modal-fejl-content {
    background-color: #f9f9f9;
    margin: 16% auto;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: 8px;
}

#textMessage {
    color: black;
    font-size: 20px;
    width: 100%;
    margin: 10% auto;
    background-color: #f9f9f9;
    text-align: center;
}

.order-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 0;
    top: 44%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 35px 35px 30px 35px;
    box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: 10px;
    overflow: auto;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal-content {
    position: relative;
    z-index: 100;
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 35px 35px 30px 35px;
    box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: 10px;
    text-align: center;
}

.editorder {
    border-collapse: collapse;
    width: 100%;
    background-color: #f9f9f9;
    font-size: 16px;
}

.editorder td {
    padding: 3px;
    border: none;
    background-color: #f9f9f9;
    text-align: left;
}

.editorder td:first-child {
    text-align: right;
}

.editorder label {
    width: 30px;
    font-weight: bold;
    text-align: right;
    background-color: #f9f9f9;
}

.editorder input[type="text"] {
    width: calc(100% - 15px);
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.editorder input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
}


.form-container {
    background-color: #f9f9f9;
    padding: 15px 15px 15px 15px;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    flex-wrap: nowrap;
    background-color: #f9f9f9;
}

.form-group label {
    flex: 0 0 16%;
    text-align: right;
    margin-right: 10px;
    white-space: nowrap;
    background-color: #f9f9f9;
}

.form-group input {
    flex: 1 0 60%;
    width: calc(70% - 10px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: left;
    min-width: 0;
}

table.editpart {
    width: 100%;
    margin-bottom: 20px;
}

table.editpart td {
    padding: 10px;
}

.modal-content {
    position: relative;
    z-index: 100;
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 35px 35px 30px 35px;
    box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: 10px;
    text-align: center;
}

.inline-label-input {
    text-align: left;
    margin-right: 10px;
    background-color: #f9f9f9;
}

#messageText {
    color: black;
    font-size: 20px;
    background-color: #f9f9f9;
    text-align: left;
}

.editpart {
    border-collapse: collapse;
    width: 100%;
    background-color: #f9f9f9;
    font-size: 16px;
}

.editpart td {
    padding: 3px;
    border: none;
    background-color: #f9f9f9;
    text-align: left;
}

.editpart td:first-child {
    text-align: right;
}

.editpart label {
    width: 30px;
    font-weight: bold;
    text-align: right;
    background-color: #f9f9f9;
}

.editpart input[type="text"] {
    width: calc(100% - 140px);
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.editpart input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
}

.close {
    color: #aaa;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    background-color: #f9f9f9;
    z-index: 100;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 1410px) {
    .hide-on-mobile {
        display: none;
    }
}

@media (max-width: 730px) {
    .page {
        padding: 10px;
        min-height: 285px;
    }

    .container {
        width: 95%;
        padding: 5px;
    }

    h1 {
        font-size: 28px;
        margin: 20px;
    }

    h2 {
        font-size: 20px;
    }

    .form-choice {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .topnav a {
        font-size: 16px;
    }

    button.edit-button {
        padding: 6px 10px;
        border-radius: 8px;
        font-size: 14px;
    }

    button.produced-button {
        padding: 6px 10px;
        border-radius: 8px;
        font-size: 14px;
    }
    button.delete-button {
        padding: 6px 10px;
        font-size: 14px;
    }
    input[type="text"].enter-amount, input[type="text"].enter-username {
        padding: 12px 80px;
        margin: 5px;
        font-size: 14px;
    }
    input[type="text"], input[type="submit"] {
        padding: 12px 10px;
        font-size: 14px;
        margin: 5px;
    }

    th, td {
        padding: 6px;
        font-size: 14px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

}

@media (max-width: 600px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 18px;
    }
    .topnav a {
        font-size: 16px;
    }

    .topnav .left {
        padding-left: 18px;
    }

    .button-container-checkout button {
        width: 100%;
        font-size: 14px;
        padding: 8px;
        margin-bottom: 5px;
        text-align: center;
    }
    button.edit-button {
        padding: 6px 10px;
        font-size: 12px;
    }

    button.produced-button {
        padding: 6px 10px;
        font-size: 12px;

    }
    button.delete-button {
        padding: 6px 10px;
        font-size: 12px;
    }
    input[type="text"].enter-amount, input[type="text"].enter-username {
        padding: 12px 10px;
        font-size: 12px;
        margin: 5px;
    }
    input[type="text"], input[type="submit"] {
        padding: 12px 10px;
        font-size: 12px;
        margin: 5px;
    }

    th, td {
        padding: 6px;
        font-size: 12px;
    }

    .form-container {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    table.editpart td {
        display: block;
        text-align: left;
    }

    table.editpart td label {
        display: block;
        margin-bottom: 5px;
    }

    table.editpart td input {
        width: calc(100% - 20px);
    }

    .form-group {
        padding: 0px;
    }

    .form-group label {
        flex: 0 0 16%;
        font-size: 13px;
        text-align: right;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .form-group input {
        width: calc(80% - 10px);
    }

    .button-container-checkout button {
        width: calc(55% - 10px);
        font-size: 14px;
        padding: 8px;
        text-align: center;
    }
    .closemessage {

        margin-top: 10px;

        padding: 8px 25px 8px 25px;

        cursor: pointer;
        font-size: 12px;

    }

}

@media (max-width: 495px) {
    h1 {
        font-size: 18px;
    }
    th, td {
        padding: 5px;
        font-size: 10px;
    }

    button.produced-button {
        padding: 4px 10px;
        font-size: 10px;
    }

    button.delete-button {
        padding: 4px 10px;
        font-size: 10px;
    }
    button.edit-button {
        padding: 4px 10px;
        font-size: 10px;
    }

    input[type="text"].enter-amount, input[type="text"].enter-username {
        padding: 12px 10px;
        font-size: 12px;
        margin: 5px;
    }

    input[type="text"], input[type="submit"] {
        padding: 10px 10px;
        font-size: 12px;
        margin: 3px;
    }
    #textMessage {
        font-size: 12px;
    }
}