html * {
    box-sizing: border-box;
    padding: 0;
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding-bottom: 30px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    border: 1px solid black;
    min-height: 600px;
    padding: 15px;
    box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: 5px;
    background-color: white;
    margin: 40px 10px 10px 10px;
}

header {
    background-color: #3C1460;
    text-align: center;
}

header a {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3C1460;
}

header a img {
    width: 95%;
    background-color: #3C1460;
}

header div {
    display: flex;
    justify-content: center;
}

.topnav {
    margin-top: 10px;
    align-items: center;
    padding: 0;
    width: 100%;
    background-color: #f9f9f9;
    font-size: 22px;
}

.topnav a {
    color: grey;
    text-align: center;
    text-decoration: none;
    background-color: #f9f9f9;
    transition: background-color 0.3s, color 0.3s;
}

label {
    background-color: #f9f9f9;
    font-size: 16px;
    font-weight: bold;
}

.topnav .right {
    padding-top: 15px;
    padding-bottom: 15px;
    float: right;
    margin-right: 30px;
}

.topnav .left {
    float: left;
    margin-right: 10px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.basket {
     float: right;
     background: none;
     padding-right: 20px;
     margin: 0;
     width: 50px;
     height: 50px;
     border: none;
}

.basket-right {
    float: right;
    margin-right: 10px;
}

.topnav a:hover {
    color: black;
}

.topnav form {
    margin-right: 20px;
    padding: 0;
    background-color: #f9f9f9;
}

.topnav img {
    background-color: #f9f9f9;
    align-items: center;

}

.form-table {
    margin-top: 10px;
    padding: 40px;
    width: 100%;
    max-width: 100%;
    max-height: 80%;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: left;
}

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 66px;
    background-color: #f9f9f9;
}

h2 {
    padding-bottom: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: #f9f9f9;
}

h3 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.0rem;
    background-color: #f9f9f9;
}

.button-container {
    text-align: right;
    padding-right: 35px;
    padding-bottom: 50px;
    margin-top: 20px;
}

.book-button {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.4s ease;
}

.book-button:hover {
    background-color: #555;
}

.dropdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Styling for hver dropdown-menu */
select {
    flex: 1 1 30%;
    margin-right: 30px;
}

/* Juster bredden af den tredje dropdown-menu */
#antal {
    flex: 15%;
}

.button-container-checkout {
    padding-right: 7px;
    text-align: right;
    margin-top: 20px;
}



input[type="text"],
input[type="date"],
select {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
    background-color: #f9f9f9;
}

button.edit-buttons {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button.edit-buttons:hover {
    background-color: #45a049;
}

.betal {
    background-color: #28a745;
    color: white;
    padding: 8px 25px 8px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.betal:hover {
    background-color: #218838;;
    border-color: #0056b3;
}

.shopping {
    background-color: #007bff;
    color: white;
    padding: 8px 25px 8px 25px;
    border: none;
    border-radius: 8px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.shopping:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}


div p {
    margin-top: 10px;
    color: red;
}

div {
    background-color: #f9f9f9;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 95%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 18px;
}

th {
    background-color: #f2f2f2;
    font-size: 18px;
}

.table-right {
    text-align: right;
    padding-right: 55px;
}

.table-left {
    text-align: left;
    padding-left: 35px;
}

.table-center {
    text-align: center;
}

.bold-text {
    font-weight: bold;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f2f2f2;
}

/* Style for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
}

/* Style for modal content */
.modal-content {
    position: relative;
    z-index: 1;
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 35px 35px 30px 35px;
    box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: 10px;
    width: 35%;
    height: 18%;
}

#messageText {
    color: black;
    font-size: 20px;
    background-color: #f9f9f9;
    text-align: left;
}

.close {
    color: #aaa;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    background-color: #f9f9f9;
    z-index: 100;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button.delete-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 6px 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
}

button.delete-button:hover {
    background-color: #dc143c;
}


@media (max-width: 830px) {
    .page {
        padding: 15px;
        min-height: 400px;
    }

    .topnav {
        font-size: 20px;
    }

    label {
        background-color: #f9f9f9;
        font-size: 16px;
        font-weight: bold;
    }

    .topnav .right {
        padding-top: 15px;
        padding-bottom: 15px;
        float: right;
        margin-right: 30px;
    }

    .topnav .left {
        float: left;
        margin-right: 10px;
        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .basket {
        float: right;
        background: none;
        padding-right: 20px;
        margin: 0;
        width: 50px;
        height: 50px;
        border: none;
    }

    .basket-right {
        float: right;
        margin-right: 10px;
    }

    .topnav a:hover {
        color: black;
    }

    .topnav form {
        margin-right: 20px;
        padding: 0;
        background-color: #f9f9f9;
    }

    .topnav img {
        background-color: #f9f9f9;
        align-items: center;

    }

    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.3rem;
        padding-left: 3px;
    }

    .betal {
        padding: 8px 14px 8px 14px;
        font-size: 16px;
    }

    .shopping {
        padding: 8px 14px 8px 14px;
        font-size: 16px;
    }

    .button-container {
        text-align: right;
        padding-right: 15px;
        padding-bottom: 50px;
    }

    button.delete-button {
        font-size: 14px;
        padding: 6px 12px;
    }

    .edit-button {
        font-size: 20px;
    }

    img {
        max-width: 95%;
    }

    .dropdown-container {
        flex-direction: column;
    }

    select {
        flex: 1 1 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    #antal {
        flex-basis: 100%;
    }

    .form-table {
        margin-top: 10px;
        padding: 15px;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        background-color: #f9f9f9;
        border-radius: 8px;
        text-align: left;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        font-size: 15px;
    }

    th {
        background-color: #f2f2f2;
        font-size: 15px;
    }

    .table-right {
        text-align: center;
        padding-right: 2px;
    }

    .table-left {
        text-align: center;
        padding-left: 2px;
    }

    .table-center {
        text-align: center;
    }

    .bold-text {
        font-weight: bold;
        font-size: 15px;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #f2f2f2;
    }

    .modal-content {
        margin: 25% auto;
        width: 52%;
        height: 15%;
    }

    #messageText {
        font-size: 16px;
    }

}

@media (max-width: 610px) {
    .page {
        padding: 15px;
        min-height: 400px;
    }

    h1 {
        font-size: 2.3rem;
    }

    h2 {
        font-size: 1.0rem;
    }

    .topnav {
        font-size: 18px;
    }

    label {
        font-size: 16px;
    }

    .topnav .right {
        padding-top: 15px;
        padding-bottom: 15px;
        float: right;
        margin-right: 30px;
    }

    .topnav .left {
        float: left;
        margin-right: 10px;
        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .basket {
        float: right;
        background: none;
        padding-right: 20px;
        margin: 0;
        width: 50px;
        height: 50px;
        border: none;
    }

    .basket-right {
        margin-right: 10px;
    }

    .topnav a:hover {
        color: black;
    }

    .topnav form {
        margin-right: 0px;
        padding: 0;
        background-color: #f9f9f9;
    }

    .topnav img {
        background-color: #f9f9f9;
        align-items: center;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        font-size: 13px;
    }

    th {
        background-color: #f2f2f2;
        font-size: 13px;
    }

    .button-container {
        text-align: right;
        padding-right: 15px;
        padding-bottom: 50px;
    }

    button.delete-button {
        font-size: 13px;
        padding: 6px 12px;
    }

    .book-button, .edit-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .edit-button {
        top: 5px;
        right: 5px;
        font-size: 18px;
    }
    .dropdown-container {
        flex-direction: column;
    }

    select {
        flex: 1 1 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    #antal {
        flex-basis: 100%;
    }

    .modal-content {
        margin: 25% auto;
        width: 52%;
        height: 16%;
    }

    #messageText {
        font-size: 15px;
    }
}

@media (max-width: 490px) {
    .page {
        padding: 15px;
        min-height: 400px;
    }

    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 0.78rem;
    }

    .topnav {
        font-size: 16px;
    }

    .topnav .right {
        padding-top: 15px;
        padding-bottom: 15px;
        float: right;
        margin-right: 15px;
    }

    label {
        font-size: 14px;
    }

    .basket {
        width: 45px;
        height: 45px;
    }

    .basket-right {
        margin-right: 0px;
    }

    .topnav form {
        margin-right: 0px;
    }

    .button-container {
        text-align: right;
        padding-right: 15px;
        padding-bottom: 50px;
    }

    button.delete-button {
        font-size: 13px;
        padding: 5px 10px;
    }

    .book-button, .edit-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .edit-button {
        top: 5px;
        right: 5px;
        font-size: 18px;
    }
    .dropdown-container {
        flex-direction: column;
    }

    select {
        flex: 1 1 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    #antal {
        flex-basis: 100%;
    }

    .modal-content {
        margin: 25% auto;
        width: 52%;
        height: 17%;
    }

    #messageText {
        font-size: 14px;
    }

}

