body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    box-sizing: border-box;
}

h1 {
    font-size: 54px;
}

.container {
    display: flex;
    height: 100vh;
}

.left-inner-page {
    background-color: #3a4d7f;
    padding: 0px 0px 0px 45px;
    flex: 0 0 425px;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.navbar h1 {
    margin-bottom: 80px;
    margin-top: 80px;
    margin-left: 50px;
    color: white;
    text-align: left;
    font-size: 120px;
}

.logo-over {
    background-color: #3a4d7f;
    border-radius: 0px 0px 25px 0px;
}

.logo {
    background-color: #3a4d7f;
    border-radius: 0px 0px 0px 0px;
}

#navigationForm {
    background-color: white;
}

.number-active {
    color: white;
    padding: 6px 9px 6px 9px;
    font-size: 12px;
    text-align: center;
    border-radius: 25px 25px 25px 25px;
    background-color: #3a4d7f;
    margin-right: 15px;
}

.number {
    color: #3a4d7f;
    padding: 6px 9px 6px 9px;
    font-size: 12px;
    text-align: center;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    margin-right: 15px;
}

.nav-btn {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #3a4d7f;
    font-size: 22px;
    color: white;
    border: none;
    border-radius: 0px 0px 0px 0px;
    padding: 15px 15px 15px 15px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    /*overflow: hidden; */
    width: 100%;
    text-align: left;
}

.nav-btn.active {
    background-color: white;
    color: #3a4d7f;
    /*border: 1px solid white;*/
    border-radius: 10px 10px 0px 0px;
}

.nav-btn.active span::after {
    height: 2px;
}

.nav-btn span {
    position: relative;
}

.nav-btn span::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.4s ease, left 0.4s ease;
}

.nav-btn:hover span::after {
    width:100%;
    left: 0%;
}

.nav-btn-under {
    display: flex;
    align-items: center;
    position: relative;
    padding: 15px 15px 15px 15px;
    background-color: #3a4d7f;
    color: white;
    border: none;
    border-radius: 0px 25px 0px 0px;
    cursor: pointer;
    font-size: 22px;
    text-align: left;
    transition: background-color 0.4s, color 0.4s;
    /* overflow: hidden; */
    width: 100%;
}

.nav-btn-under span::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.4s ease, left 0.4s ease;
}

.nav-btn-under:hover span::after {
    width: 100%;
    left: 0%;
}

.nav-btn-under span {
    position: relative;
}

.nav-btn-over {
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 15px;
    background-color: #3a4d7f;
    color: white;
    border: none;
    border-radius: 0px 0px 25px 0px;
    cursor: pointer;
    font-size: 22px;
    text-align: left;
    transition: background-color 0.4s, color 0.4s;
    /*overflow: hidden;*/
    width: 100%;
}

.nav-btn-over span::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.4s ease, left 0.4s ease;
}

.nav-btn-over:hover span::after {
    width: 100%;
    left: 0%;
}

.nav-btn-over span {
    position: relative;
}

.right-inner-page {
    flex: 1;
    padding: 160px 20px 20px 80px;
    overflow-y: auto;
    box-sizing: border-box;
}

.right-drawing-page {
    flex: 1;
    width:80%;
    padding: 10px 10px 10px 50px;
    overflow-y: auto;
    box-sizing: border-box;
}

.drawing {
    width: 700px;
}

.right-inner-page h1 {
    font-size: 42px;
}

.form-group {
    margin-bottom: 20px;
}

.select-wrapper {
    margin-top: 10px;
}

select {
    width: 350px;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 25px;
    background-color: #ecf0f1;
    color: #576574;
    font-size: 18px;
    appearance: none;
}

select:hover {
    border-color: #95a5a6;
}

select:focus {
    outline: none;
    border-color: #95a5a6;
    box-shadow: 0 0 0 2px #95a5a6;
}

select:hover {
    border-color: #95a5a6;
}

.with-shed {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.with-shed-button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #3a4d7f;
    cursor: pointer;
    position: relative;
    padding: 0;
    border-radius: 25px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.with-shed-button:hover {
    background-color: #66b2ff;
    border-color: #66b2ff;
}

.with-shed-button:hover::after {
    content: '✓';
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

.with-shed-button.active {
    background-color: #3a4d7f;
    border-color: #3a4d7f;
}

.with-shed-button.active::after {
    content: '✓'; /* Flueben */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    opacity: 1;
}

.with-shed-label {
    margin-left: 10px;
}

.dropdown-container-shed {
    margin-top: 20px;
}

.drawing h1 {
    margin-top: 0px;
    margin-bottom: 10px;
}

button.return-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 23px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, transform 0.2s;
}

button.return-button:hover {
    background-color: #dc143c;
    transform: scale(1.05);
}

.button-container {
    margin-top: 20px;
}
.flex-container-shed-div {
    margin-bottom: 20px;
}

.flex-container-shed-div h2 {
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.button-container {
    margin-top: 30px;
    color: #3a4d7f;
}

.container-checkout {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#movingDrawingButton {
    position: relative;
    overflow: hidden;
    padding: 10px 23px;
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    background-color: #28a745;
    color: #ffffff;
    transition: background-color 0.3s ease-in-out;
}

#movingDrawingButton .staticPart {
    display: inline-block;
    margin-right: 5px;
}

#movingDrawingButton .movingPart {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}

#movingDrawingButton:hover {
    background-color: #218838;
}

#movingDrawingButton:hover .movingPart {
    transform: translateX(6px);
}

#movingForwardButton {
    position: relative;
    overflow: hidden;
    padding: 10px 23px;
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    background-color: #28a745;
    color: #ffffff;
    transition: background-color 0.3s ease-in-out;
}

#movingForwardButton .staticPart {
    display: inline-block;
    margin-right: 5px;
}

#movingForwardButton .movingPart {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}

#movingForwardButton:hover {
    background-color: #218838;
}

#movingForwardButton:hover .movingPart {
    transform: translateX(6px);
}

#movingBackButton {
    position: relative;
    overflow: hidden;
    padding: 10px 23px;
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    background-color: #ff6347;
    color: #ffffff;
    transition: background-color 0.3s ease-in-out;
    margin-right: 30px;
}

#movingBackButton .staticPart {
    display: inline-block;
    margin-right: 5px;
}

#movingBackButton .movingPart {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}

#movingBackButton:hover {
    background-color: #dc143c;
}

#movingBackButton:hover .movingPart {
    transform: translateX(-6px);
}

.carporttable {
    width: 90%;
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;
}

.carporttable td {
    padding: 2px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.carporttable tr:first-child {
    background-color: #f2f2f2;
}

.carporttable tr:last-child {
    border-bottom: none;
}

.carporttable tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.carporttable td:nth-child(2) {
    text-align: right;
}

.form-group {
    margin-bottom: 20px;
}
.form-group h2 {
    margin-bottom: 0px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #95a5a6;
    box-shadow: 0 0 0 2px #95a5a6;
}

.button-container {
    margin-top: 20px;
}

.payment {
    padding: 15px 40px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    border: none;
    border-radius: 25px;
    background-color: #3a4d7f;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.payment:hover {
    background-color: #1a2e4c;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal-content {
    position: relative;
    z-index: 100;
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 35px 35px 30px 35px;
    box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
    border-radius: 10px;
    text-align: center;
}

.betal:hover {
    background-color: #1a2e4c;
}

.generic-form {
    margin-top: 50px;
}

@media (max-height: 1080px) {
    .right-drawing-page {
        padding: 30px 20px 20px 80px;
        width: 60%;
    }
    .drawing {
        width: 60%;
    }
}

@media (max-width: 1920px) {
    .right-drawing-page {
        padding: 30px 20px 20px 80px;
        width: 60%;
    }
    .drawing {
        width: 60%;
    }

    payment {
        padding: 15px 40px;
        font-size: 15px;
    }
}

@media (max-width: 885px) {
    h1, h2, select-wrapper {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .left-inner-page {
        flex: 0 0 260px;
        padding: 0px 0px 0px 20px;
    }

    .right-inner-page {
        padding: 130px 20px 20px 20px;
    }

    .right-drawing-page {
        width:80%;
        padding: 60px 0px 0px 5px;
    }
    .navbar h1 {
       margin-top: 50px;
       margin-bottom: 50px;
       margin-left: 25px;
       text-align: left;
       font-size: 90px;
    }

    .carporttable {
        width: 95%;
    }

    .nav-btn span {
        position: relative;
        font-size: 18px;
    }

    .nav-btn {
        padding: 6px;
        position: relative;
        font-size: 20px;
    }

    .nav-btn-over span {
        position: relative;
        font-size: 18px;
    }

    .nav-btn-over {
        padding: 6px;
        position: relative;
        font-size: 20px;
    }

    .nav-btn-under span {
        position: relative;
        font-size: 18px;
    }

    .nav-btn-under {
        padding: 6px;
        position: relative;
        font-size: 20px;
    }

    .right-inner-page h1 {
        font-size: 2em;
    }

    .right-inner-page h2 {
        font-size: 1.6em;
    }

    .right-inner-page h3 {
        font-size: 1.4em;
    }

    .drawing {
        width: 100%
    }
    select {
        width: 90%;
        padding: 12px;
        font-size: 12px;
    }

    input[type="text"] {
        width: 90%;
        padding: 10px;
        font-size: 16px;
    }

    .generic-form {
        margin-top: 50px;
    }

    #movingForwardButton {
        font-size: 15px;
    }

    #movingBackButton {
        font-size: 15px;
        margin-right: 20px;
    }

    #movingDrawingButton {
        font-size: 15px;
    }
}

@media (max-width: 520px) {
    h1  {
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 1em;
    }

    input[type="text"] {
        width: 95%;
        padding: 6px;
        font-size: 12px;
    }

    .left-inner-page {
        flex: 0 0 200px;
    }

    .right-inner-page {
        padding: 120px 20px 20px 20px;
    }
    .container-checkout {
        margin-top: 15px;
    }

    .navbar h1 {
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 20px;
        text-align: left;
        font-size: 60px;
    }

    .nav-btn span {
        position: relative;
        font-size: 14px;
    }

    .nav-btn {
        padding: 6px;
        position: relative;
        font-size: 14px;
    }

    .nav-btn-over span {
        position: relative;
        font-size: 14px;
    }

    .nav-btn-over {
        padding: 6px;
        position: relative;
        font-size: 14px;
    }

    .nav-btn-under span {
        position: relative;
        font-size: 14px;
    }

    .nav-btn-under {
        padding: 6px;
        position: relative;
        font-size: 14px;
    }

    .right-inner-page h1 {
        font-size: 1.3em;
    }

    .right-inner-page h2 {
        font-size: 1.0em;
    }

    .right-inner-page p {
        font-size: 0.8em;
    }

    .right-inner-page h3 {
        font-size: 0.7em;
    }

    select {
        width: 100%;
        padding: 8px;
        font-size: 12px;
    }

    .container-checkout {
        width: 97%;
    }

    .carporttable {
       font-size: 12px;
    }

    #movingButton {
        padding: 10px 15px;
        font-size: 11px;
    }

    .payment {
        padding: 9px 20px;
        font-size: 14px;
    }

    #movingForwardButton {
        font-size: 12px;
        padding: 5px 23px;
    }

    #movingBackButton {
        font-size: 12px;
        padding: 5px 23px;
        margin-right: 7px;
    }

    #movingDrawingButton {
        font-size: 13px;
    }

    .with-shed-label {
        margin-left: 10px;
        font-size: 14px;
    }

    .number {
        margin-right: 10px;
    }

    .number-active {
        margin-right: 10px;
    }
}

@media (max-width: 400px) {
    h1  {
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 1em;
    }

    input[type="text"] {
        width: 95%;
        padding: 6px;
        font-size: 12px;
    }

    .left-inner-page {
        flex: 0 0 160px;
    }

    .right-inner-page {
        padding: 120px 20px 20px 20px;
    }
    .container-checkout {
        margin-top: 15px;
    }

    .navbar h1 {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 15px;
        text-align: left;
        font-size: 50px;
    }

    .nav-btn span {
        position: relative;
        font-size: 14px;
    }

    .nav-btn {
        padding: 6px;
        position: relative;
        font-size: 14px;
    }

    .nav-btn-over span {
        position: relative;
        font-size: 14px;
    }

    .nav-btn-over {
        padding: 6px;
        position: relative;
        font-size: 14px;
    }

    .nav-btn-under span {
        position: relative;
        font-size: 14px;
    }

    .nav-btn-under {
        padding: 6px;
        position: relative;
        font-size: 14px;
    }

    .right-inner-page h1 {
        font-size: 1.3em;
    }

    .right-inner-page h2 {
        font-size: 1.0em;
    }

    .right-inner-page p {
        font-size: 0.7em;
    }

    .right-inner-page h3 {
        font-size: 0.7em;
    }

    select {
        width: 100%;
        padding: 8px;
        font-size: 12px;
    }

    .container-checkout {
        width: 97%;
    }

    .carporttable {
        font-size: 12px;
    }

    #movingButton {
        padding: 10px 15px;
        font-size: 11px;
    }

    .payment {
        padding: 9px 20px;
        font-size: 13px;
    }

    #movingForwardButton {
        font-size: 12px;
        padding: 5px 23px;
    }

    #movingBackButton {
        font-size: 12px;
        padding: 5px 23px;
        margin-right: 7px;
    }

    #movingDrawingButton {
        font-size: 13px;
    }
}
