/* Reset default styles */
/* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}*/

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    box-sizing: border-box;
}


/* Page container styles */
.page-showorder {
    max-width: 1200px;
    min-width: 1200px;
    margin: 20px auto;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Page container styles */
.outer-page {
    max-width: 1000px;
    min-width: 1000px;
    margin: 20px auto;
    padding: 30px;
    background-color: #f9f9f9;

}
/* Page container styles */
.inner-page {
    max-width: 1000px;
    min-width: 1000px;

    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Page container styles */
.page {
    max-width: 1000px;
    min-width: 1000px;
    margin: 20px auto;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.dropdown-container-shed {
    max-width: 1000px;
    min-width: 1000px;
    margin: 20px auto;
    height: 250px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: background-color 0.5s ease, border-color 0.5s ease; /* Transition-effekt */
}


.with-shed {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.with-shed-button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #3a4d7f;
    cursor: pointer;
    position: relative;
    padding: 0;
    border-radius: 3px; /* Runde kanter */
    transition: background-color 0.5s ease, border-color 0.5s ease; /* Transition-effekt */
}

.with-shed-button:hover {
    background-color: #66b2ff; /* Lysere blå farve ved hover */
    border-color: #66b2ff;
}

.with-shed-button:hover::after {
    content: '✓'; /* Flueben */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

.with-shed-button.active {
    background-color: #3a4d7f; /* Mørkere blå farve når aktiv */
    border-color: #3a4d7f;
}

.with-shed-button.active::after {
    content: '✓'; /* Flueben */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    opacity: 1; /* Sørg for, at fluebenet er synligt, når knappen er aktiv */
}



.with-shed-label {
    margin-left: 10px;
}


/* Form table styles */
.form-table {
    margin-bottom: 20px;
}

.form-table h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

/* Carport SVG styles */
.carport-svg-topview {
    max-width: 100%;
    margin-bottom: 20px;
}

/* Table styles */
.carporttable {
    width: 100%;
    margin-bottom: 20px;
}

.carporttable th,
.carporttable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.carporttable th {
    background-color: #f2f2f2;
}

/* Button container styles */
.button-container-checkout {
    text-align: center;
    margin-top: 20px;
}

.shopping,
.betal {
    background-color: #28a745;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 22px;
    transition: background-color 0.4s, transform 0.2s;
}

.shopping:hover,
.betal:hover {
    background-color: #218838;
}

.shopping {
    margin-right: 20px;
}

/* Parts table styles */
#partsTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#partsTable th,
#partsTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

#partsTable th {
    background-color: #f2f2f2;
}


/* Form Styles */
.form-group {
    margin-bottom: 20px;
}

.select-wrapper {
    position: relative;
}

select {
    width: 100%;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #ecf0f1;
    color: #576574;
    font-size: 18px;
    appearance: none;
}

select:focus {
    outline: none;
    border-color: #95a5a6;
    box-shadow: 0 0 0 2px #95a5a6;
}

/* Checkbox Styles */
.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input {
    margin-right: 10px;
}

/* Dropdown Container */
.dropdown-container-shed {
    display: none;
}

/* Button Styles */
.button-container {
    text-align: center;
    margin-top: 30px;
}

.betal {
    padding: 25px 30px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 28px;
    transition: background-color 0.4s, transform 0.4s;
}

.betal:hover {
    /* Juster denne værdi efter behov for at ændre afstanden */

    background-color: #219653;
}
#movingButton {
    position: relative;
    overflow: hidden;
    padding: 15px 20px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}

#movingButton .movingPart {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}

#movingButton:hover .movingPart {
    transform: translateX(6px);
}






/* Input Styles */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #ecf0f1;
    color: #576574;
    font-size: 18px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #95a5a6;
    box-shadow: 0 0 0 2px #95a5a6;
}

