/* Stylesheet for the application */
html * {
    box-sizing: border-box;
    padding: 0;
    background-color: white;
}


h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

/* SVG */

.carport-svg-topview
{
    max-width: 800px;
}

.button-container {
    text-align: right;
    padding-right: 35px;
    padding-bottom: 50px;
    margin-top: 20px;
}

.button-container-checkout {
    padding-right: 7px;
    text-align: right;
    margin-top: 20px;
}


.shopping {
    background-color: #007bff;
    color: white;
    padding: 8px 25px 8px 25px;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.2s;
}

.shopping:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


input[type="submit"] {
    margin-right: 5px;
    vertical-align: middle;
    background-color: #f9f9f9;
}

div {
    background-color: #f9f9f9;
}