<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcake Store Admin Panel</title>
    <link href="../public/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <div class="topnav">
        <a th:if="${session.currentUser == null}" href="login.html" class="right" th:href="@{/login/}">Login</a>
        <a th:if="${session.currentUser != null}" href="index.html" class="right" th:href="@{/logout/}">Logout</a>
        <a th:if="${session.currentUser != null}" class="right" th:text="${session.currentUser.email}"></a>
    </div>

    <h1>Carport Admin Panel</h1>

    <form method="post">
        <div style="text-align: center">
            <input type="text" name="username_input" placeholder="Enter username" class="enter-username">
        </div>
        <div class="form-choice">
            <input type="submit" formaction="/getAllMaterials" value="Show Material List"/>
            <input type="submit" formaction="/getOrderByName" value="Show Customer Orders"/>
            <input type="submit" formaction="/getAllOrders" value="Show All Customers Orders"/>
        </div>
    </form>

    <form class="form-table" th:action="@{/changePrice}" th:method="POST">
    <div th:if="${partslist}">
        <h2>Material List:</h2>
        <table>
            <thead>
            <tr>
                <th>Partid</th>
                <th>Description</th>
                <th>Length</th>
                <th>Height</th>
                <th>Width</th>
                <th>Type</th>
                <th>Material</th>
                <th>Unit</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="part : ${partslist}">
                <td th:text="${part.partId}">PartId</td>
                <td style="text-align: left;" th:text="${part.description}">Description</td>
                <td th:text="${part.length}">Length</td>
                <td th:text="${part.height}">Height</td>
                <td th:text="${part.width}">Width</td>
                <td th:text="${part.type}">Type</td>
                <td th:text="${part.material}">Material</td>
                <td th:text="${part.unit}">Unit</td>
                <td th:text="${part.price}">Price</td>
                <td>
                    <button type="submit" name="partId" th:value="${part.partId}" formaction="/changeMaterial"
                            class="produced-button">Edit
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </form>

    <form class="form-table" th:action="@{/addToBalance}" th:method="POST">
        <div th:if="${customer}">
            <h2>Customer Search:</h2>
            <table>
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Balance</th>
                    <th>Add to Balance</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customer}">
                    <td th:id="email" th:text="${customer.email}">Email</td>
                    <td th:text="${customer.name}">Name</td>
                    <td th:text="'+45 ' + ${customer.mobile}">Mobile</td>
                    <td th:text="${customer.balance}">Balance</td>
                    <td>
                        <input type="hidden" name="email" th:value="${customer.email}"/>
                        <input type="text" name="balance_input" placeholder="Enter Amount" class="enter-amount"/>
                        <input type="submit" value="Add To Balance"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>

    <form class="form-table" th:action="@{/changeOrderStatus}" th:method="POST">
        <div th:if="${customerOrders}">
            <h2>Open Orders:</h2>
            <table>
                <thead>
                <tr>
                    <th>Ordreid</th>
                    <th>Ordredato</th>
                    <th>Carport Bredde</th>
                    <th>Carport Højde</th>
                    <th>Carport Længde</th>
                    <th>Shed Bredde</th>
                    <th>Shed Længde</th>
                    <th>Material Cost</th>
                    <th>Sales Price</th>
                    <th>Userid</th>
                    <th>Ordre Status</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${customerOrders}" th:if="${order.orderStatus == 'recieved'}">
                    <td th:text="${order.orderId}">OrderId</td>
                    <td th:text="${order.orderDate}">Ordre Dato</td>
                    <td th:text="${order.carportWidth}">CarportWidth</td>
                    <td th:text="${order.carportHeight}">CarportHeight</td>
                    <td th:text="${order.carportLength}">CarportLength</td>
                    <td th:text="${order.shedWidth}">Shed Width</td>
                    <td th:text="${order.shedLength}">Shed Length</td>
                    <td th:text="${order.materialCost}">Material Cost</td>
                    <td th:text="${order.salesPrice}">Sales Price</td>
                    <td th:text="${order.userId}">UserId</td>
                    <td th:text="${order.orderStatus}">Order Status</td>
                    <td th:text="${order.userEmail}">Email</td>
                    <td>
                        <button type="submit" name="orderId" th:value="${order.orderId}" formaction="/admindeleteorder"
                                class="delete-button">Slet
                        </button>
                        <button type="submit" name="orderId" th:value="${order.orderId}" formaction="/changeOrderStatus"
                                class="produced-button">Produceret
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${customerOrders}">
            <h2>Orders produced:</h2>
            <table>
                <thead>
                <tr>
                    <th>Ordreid</th>
                    <th>Ordredato</th>
                    <th>Carport Bredde</th>
                    <th>Carport Højde</th>
                    <th>Carport Længde</th>
                    <th>Shed Bredde</th>
                    <th>Shed Længde</th>
                    <th>Material Cost</th>
                    <th>Sales Price</th>
                    <th>Userid</th>
                    <th>Ordre Status</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${customerOrders}" th:if="${order.orderStatus == 'produceret'}">
                    <td th:text="${order.orderId}">OrderId</td>
                    <td th:text="${order.orderDate}">Ordre Dato</td>
                    <td th:text="${order.carportWidth}">CarportWidth</td>
                    <td th:text="${order.carportHeight}">CarportHeight</td>
                    <td th:text="${order.carportLength}">CarportLength</td>
                    <td th:text="${order.shedWidth}">Shed Width</td>
                    <td th:text="${order.shedLength}">Shed Length</td>
                    <td th:text="${order.materialCost}">Material Cost</td>
                    <td th:text="${order.salesPrice}">Sales Price</td>
                    <td th:text="${order.userId}">UserId</td>
                    <td th:text="${order.orderStatus}">Order Status</td>
                    <td th:text="${order.userEmail}">Email</td>
                    <td>
                        <button type="submit" name="orderId" th:value="${order.orderId}" formaction="/orderpickedup"
                                class="produced-button">Afhentet
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${customerOrders}">
            <h2>Closed Orders:</h2>
            <table>
                <thead>
                <tr>
                    <th>Ordreid</th>
                    <th>Ordredato</th>
                    <th>Carport Bredde</th>
                    <th>Carport Højde</th>
                    <th>Carport Længde</th>
                    <th>Shed Bredde</th>
                    <th>Shed Længde</th>
                    <th>Material Cost</th>
                    <th>Sales Price</th>
                    <th>Userid</th>
                    <th>Ordre Status</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${customerOrders}" th:if="${order.orderStatus == 'leveret'}">
                    <td th:text="${order.orderId}">OrderId</td>
                    <td th:text="${order.orderDate}">Ordre Dato</td>
                    <td th:text="${order.carportWidth}">CarportWidth</td>
                    <td th:text="${order.carportHeight}">CarportHeight</td>
                    <td th:text="${order.carportLength}">CarportLength</td>
                    <td th:text="${order.shedWidth}">Shed Width</td>
                    <td th:text="${order.shedLength}">Shed Length</td>
                    <td th:text="${order.materialCost}">Material Cost</td>
                    <td th:text="${order.salesPrice}">Sales Price</td>
                    <td th:text="${order.userId}">UserId</td>
                    <td th:text="${order.orderStatus}">Order Status</td>
                    <td th:text="${order.userEmail}">Email</td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
</body>
</html>
