<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <title>BookingBois</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/navbarStyling.css" th:href="@{/css/navbarStyling.css}" rel="stylesheet"/>
    <link href="../public/css/newShowCarport.css" th:href="@{/css/newShowCarport.css}" rel="stylesheet"/>
</head>

<header>
    <!-- Navigation bar -->
    <div class="navbar">
        <h1>Fog</h1>
        <form id="navigationForm" method="get">
            <button type="submit" formaction="/" class="nav-btn active">1. Carport Specs</button>
            <button type="submit" formaction="/carport-drawing" class="nav-btn">2. Carport Drawing</button>
            <button type="submit" formaction="/user-details" class="nav-btn">3. User Details</button>
            <button type="submit" formaction="/confirmation" class="nav-btn">4. Confirmation</button>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <button type="submit" formaction="/ToLogin" class="nav-btn">Login</button>
        </form>
    </div>
</header>

<body>
<div class="outer-page">
    <form class="form-table" id="myForm" action="" method="post">
        <div class="inner-page">
        <h1>Carport Detajler</h1>
        <div class="form-group">
            <h2>Carport bredde:</h2>
            <div class="select-wrapper">
                <select name="carport_width" id="carport_width" required>
                    <option selected disabled>Vælg bredde på carport</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <h2>Carport længde:</h2>
            <div class="select-wrapper">
                <select name="carport_length" id="carport_length" required>
                    <option selected disabled>Vælg længde på carport</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <h2>Carport højde:</h2>
            <div class="select-wrapper">
                <select name="carport_height" id="carport_height" required>
                    <option selected disabled>Vælg højde på carport</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <h2>Carport trapeztag:</h2>
            <div class="select-wrapper">
                <select name="carport_trapeztag" id="carport_trapeztag" required>
                    <option selected disabled>Vælg tagtype på carport</option>
                    <option value="Uden tagplader"
                            th:selected="${session.newCarport != null && !session.newCarport.withRoof}">Uden tagplader
                    </option>
                    <option value="Med Plasttrapezplader"
                            th:selected="${session.newCarport != null && session.newCarport.withRoof}">Med
                        Plasttrapezplader
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="with-shed">
                <button type="button" onclick="toggleShedVisibility()" id="with-shed-button" class="with-shed-button"></button>
                <label for="with-shed-button" class="with-shed-label">Vælg skur</label>
            </div>
        </div>
</div>


<div class="dropdown-container-shed" id="dropdown-container-shed" style="display: none;">
    <div class="flex-container-shed-div">
        <h2>Skur bredde:</h2>
        <select name="width_shed" id="width-shed" required>
            <option value="0" selected>Vælg bredden på skuret</option>
            <!--De resterende options bliver tilføjet igennem javascript, se updateShedOptions -->
        </select>
    </div>
    <div class="flex-container-shed-div">
        <h2>Skur længde:</h2>
        <select name="length_shed" id="length-shed" required>
            <option value="0" selected>Vælg længden på skuret</option>
            <!--De resterende options bliver tilføjet igennem javascript, se updateShedOptions -->
        </select>
    </div>
</div>



<div class="button-container">
    <button id="movingButton" class="betal" formaction="/createcarport">
        <span class="staticPart">Se Tegning </span><span class="movingPart"> &#x2192;</span>
    </button>
</div>
    </form>
</div>

<script th:inline="javascript">




    var myThymeleafVariable = /*[[${newCarport}]]*/ '';


    const shedLengthSelect = document.getElementById('length-shed');
    const shedWidthSelect = document.getElementById('width-shed');

    const carportHeightElement = document.getElementById('carport_height');
    const carportLengthElement = document.getElementById('carport_length');
    const carportWidthElement = document.getElementById('carport_width');

    const carportHeights = [210, 220, 230, 240, 250, 260, 270, 280, 290];

    const carportLengths = [240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450,
        460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 600,
        610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750,
        760, 770, 780];

    const shedLengths = [180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300];

    const shedWidths = [
        240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450,
        460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 600
    ];

    function toggleShedVisibility() {

        var shedDropdown = document.getElementById("dropdown-container-shed");
        var button = document.getElementById("with-shed-button");

        if (shedDropdown.style.display === "none" || shedDropdown.style.display === "") {
            shedDropdown.style.display = "block";
            button.classList.add("active");
        } else {
            shedDropdown.style.display = "none";
            button.classList.remove("active");
        }
        updateShedOptions();
    }

    function toggleShedDropdown() {
        var shedCheckbox = document.getElementById("with-shed");
        var shedDropdown = document.getElementById("dropdown-container-shed");
        var shedWrapper = document.getElementById("dropdown-container-shed-wrapper");
        var shedButton = document.getElementById("with-shed");

        if (shedCheckbox.checked) {
            shedWrapper.style.display = "block"; // Vis dropdown-container-shed-wrapper
            shedDropdown.style.display = "block";
            //shedDropdown.style.display = "block"; // Vis dropdown-container-shed

            shedButton.classList.add("active"); // Tilføj klassen "active" til knappen
        } else {
            shedDropdown.style.display = "none"; // Skjul dropdown-container-shed
            shedWrapper.style.display = "none"; // Skjul dropdown-container-shed-wrapper
            shedButton.classList.remove("active"); // Fjern klassen "active" fra knappen
        }
        //updateShedOptions();
    }

    //console.log(myThymeleafVariable);
    function addCarportOptions() {
        carportHeightElement.innerHTML = '<option value="0" disabled selected>Vælg højde på carporten</option>';
        carportHeights.forEach(height => {
            // Check if the current width matches the value stored in the session
            let selected = (myThymeleafVariable != null && myThymeleafVariable.height === height) ? 'selected' : '';
            // Append the option with the selected attribute if necessary
            carportHeightElement.innerHTML += `<option value="${height}" ${selected}>${height} cm</option>`;

        });

        carportLengthElement.innerHTML = '<option value="0" disabled selected>Vælg længde på carporten</option>';
        carportLengths.forEach(length => {
            // Check if the current width matches the value stored in the session
            let selected = (myThymeleafVariable != null && myThymeleafVariable.length === length) ? 'selected' : '';
            // Append the option with the selected attribute if necessary
            carportLengthElement.innerHTML += `<option value="${length}" ${selected}>${length} cm</option>`;

        });

        carportWidthElement.innerHTML = '<option value="0" disabled selected>Vælg bredde på carporten</option>';
        shedWidths.forEach(width => {
            // Check if the current width matches the value stored in the session
            let selected = (myThymeleafVariable != null && myThymeleafVariable.width === width) ? 'selected' : '';
            // Append the option with the selected attribute if necessary
            carportWidthElement.innerHTML += `<option value="${width}" ${selected}>${width} cm</option>`;

        });
    }

    function updateShedOptions() {
        const carportLength = parseInt(document.getElementById('carport_length').value);
        const carportWidth = parseInt(document.getElementById('carport_width').value);
        // Filter shed lengths based on carport length
        shedLengthSelect.innerHTML = '<option value="0" disabled selected>Vælg længde på skuret</option>';
        shedLengths.forEach(length => {
            if (length <= carportLength) {
                // Check if the current width matches the value stored in the session
                let selected = (myThymeleafVariable != null && myThymeleafVariable.shedLength === length) ? 'selected' : '';
                // Append the option with the selected attribute if necessary
                shedLengthSelect.innerHTML += `<option value="${length}" ${selected}>${length} cm</option>`;
            }
        });

        // Filter shed widths based on carport width
        shedWidthSelect.innerHTML = '<option value="0" disabled selected>Vælg bredde på skuret</option>';
        shedWidths.forEach(width => {
            if (width <= (carportWidth - 60)) {
                // Check if the current width matches the value stored in the session
                let selected = (myThymeleafVariable != null && myThymeleafVariable.shedWidth === width) ? 'selected' : '';
                // Append the option with the selected attribute if necessary
                shedWidthSelect.innerHTML += `<option value="${width}" ${selected}>${width} cm</option>`;
            }
        });
    }

    document.getElementById('carport_length').addEventListener('change', updateShedOptions);
    document.getElementById('carport_width').addEventListener('change', updateShedOptions);

    addCarportOptions();
    updateShedOptions();

</script>
</body>
</html>