<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <title>BookingBois</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/InputStyling.css" th:href="@{/css/InputStyling.css}" rel="stylesheet"/>
    <link href="../public/css/navbarStyling.css" th:href="@{/css/navbarStyling.css}" rel="stylesheet"/>
</head>

<header>
    <!-- Navigation bar -->
    <div class="navbar">
        <form id="navigationForm" method="get">
            <button type="submit" formaction="/" class="nav-btn active">1. Carport Specs</button>
            <button type="submit" formaction="/carport-drawing" class="nav-btn">2. Carport Drawing</button>
            <button type="submit" formaction="/user-details" class="nav-btn">3. User Details</button>
            <button type="submit" formaction="/confirmation" class="nav-btn">4. Confirmation</button>
        </form>
    </div>
</header>

<body>
<div class="page">
    <form class="form-table" id="myForm" action="" method="post">
        <h1>Carport Detajler</h1>

        <div class="form-group">
            <h2>Carport bredde:</h2>
            <div class="select-wrapper">
                <select name="carport_width" id="carport_width" required>
                    <option selected disabled>Vælg bredde på carport</option>
                    <option value="240" th:selected="${session.newCarport != null && session.newCarport.getWidth() == 240.0}">240 cm</option>
                    <option value="270" th:selected="${session.newCarport != null && session.newCarport.getWidth() == 270.0}">270 cm</option>
                    <option value="300" th:selected="${session.newCarport != null && session.newCarport.getWidth() == 300.0}">300 cm</option>
                    <option value="330" th:selected="${session.newCarport != null && session.newCarport.getWidth() == 330.0}">330 cm</option>
                    <option value="360" th:selected="${session.newCarport != null && session.newCarport.getWidth() == 360.0}">360 cm</option>
                    <option value="390" th:selected="${session.newCarport != null && session.newCarport.getWidth() == 390.0}">390 cm</option>
                    <option value="420" th:selected="${session.newCarport != null && session.newCarport.getWidth() == 420.0}">420 cm</option>
                    <option value="450" th:selected="${session.newCarport != null && session.newCarport.getWidth() == 450.0}">450 cm</option>
                    <option value="480" th:selected="${session.newCarport != null && session.newCarport.getWidth() == 480.0}">480 cm</option>
                    <option value="510" th:selected="${session.newCarport != null && session.newCarport.getWidth() == 510.0}">510 cm</option>
                    <option value="540" th:selected="${session.newCarport != null && session.newCarport.getWidth() == 540.0}">540 cm</option>
                    <option value="570" th:selected="${session.newCarport != null && session.newCarport.getWidth() == 570.0}">570 cm</option>
                    <option value="600" th:selected="${session.newCarport != null && session.newCarport.getWidth() == 600.0}">600 cm</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <h2>Carport længde:</h2>
            <div class="select-wrapper">
                <select name="carport_length" id="carport_length" required>
                    <option selected disabled>Vælg længde på carport</option>
                    <option value="240" th:selected="${session.newCarport != null && session.newCarport.getLength() == 240.0}">240 cm</option>
                    <option value="270" th:selected="${session.newCarport != null && session.newCarport.getLength() == 270.0}">270 cm</option>
                    <option value="300" th:selected="${session.newCarport != null && session.newCarport.getLength() == 300.0}">300 cm</option>
                    <option value="330" th:selected="${session.newCarport != null && session.newCarport.getLength() == 330.0}">330 cm</option>
                    <option value="360" th:selected="${session.newCarport != null && session.newCarport.getLength() == 360.0}">360 cm</option>
                    <option value="390" th:selected="${session.newCarport != null && session.newCarport.getLength() == 390.0}">390 cm</option>
                    <option value="420" th:selected="${session.newCarport != null && session.newCarport.getLength() == 420.0}">420 cm</option>
                    <option value="450" th:selected="${session.newCarport != null && session.newCarport.getLength() == 450.0}">450 cm</option>
                    <option value="480" th:selected="${session.newCarport != null && session.newCarport.getLength() == 480.0}">480 cm</option>
                    <option value="510" th:selected="${session.newCarport != null && session.newCarport.getLength() == 510.0}">510 cm</option>
                    <option value="540" th:selected="${session.newCarport != null && session.newCarport.getLength() == 540.0}">540 cm</option>
                    <option value="570" th:selected="${session.newCarport != null && session.newCarport.getLength() == 570.0}">570 cm</option>
                    <option value="600" th:selected="${session.newCarport != null && session.newCarport.getLength() == 600.0}">600 cm</option>
                    <option value="630" th:selected="${session.newCarport != null && session.newCarport.getLength() == 630.0}">630 cm</option>
                    <option value="660" th:selected="${session.newCarport != null && session.newCarport.getLength() == 660.0}">660 cm</option>
                    <option value="690" th:selected="${session.newCarport != null && session.newCarport.getLength() == 690.0}">690 cm</option>
                    <option value="720" th:selected="${session.newCarport != null && session.newCarport.getLength() == 720.0}">720 cm</option>
                    <option value="750" th:selected="${session.newCarport != null && session.newCarport.getLength() == 750.0}">750 cm</option>
                    <option value="780" th:selected="${session.newCarport != null && session.newCarport.getLength() == 780.0}">780 cm</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <h2>Carport højde:</h2>
            <div class="select-wrapper">
                <select name="carport_height" id="carport_height" required>
                    <option selected disabled>Vælg højde på carport</option>
                    <option value="210" th:selected="${session.newCarport != null && session.newCarport.getHeight() == 210.0}">210 cm</option>
                    <option value="225" th:selected="${session.newCarport != null && session.newCarport.getHeight() == 225.0}">225 cm</option>
                    <option value="240" th:selected="${session.newCarport != null && session.newCarport.getHeight() == 240.0}">240 cm</option>
                    <option value="270" th:selected="${session.newCarport != null && session.newCarport.getHeight() == 270.0}">270 cm</option>
                    <option value="290" th:selected="${session.newCarport != null && session.newCarport.getHeight() == 290.0}">290 cm</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <h2>Carport trapeztag:</h2>
            <div class="select-wrapper">
                <select name="carport_trapeztag" id="carport_trapeztag" required>
                    <option selected disabled>Vælg tagtype på carport</option>
                    <option value="Uden tagplader" th:selected="${session.newCarport != null && !session.newCarport.withRoof}">Uden tagplader</option>
                    <option value="Med Plasttrapezplader" th:selected="${session.newCarport != null && session.newCarport.withRoof}">Med Plasttrapezplader</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <h2>Carport skur:</h2>
            <div class="with-shed">
                <input type="checkbox" onclick="toggleShedDropdown()" id="with-shed" name="with-shed" value="Bike" th:checked="${session.newCarport != null && session.newCarport.withShed}">
                <label for="with-shed"> Skur?</label>
            </div>
            <div class="dropdown-container-shed-wrapper">
                <div class="dropdown-container-shed" id="dropdown-container-shed" style="display: none;">
                    <div class="flex-container-shed-div">
                        <select name="length_shed" id="length-shed" required>
                            <option value="0" selected>Vælg længden på skuret</option>
                            <option value="180" th:selected="${session.newCarport != null && session.newCarport.shedLength == 180.0}">180 cm</option>
                            <option value="210" th:selected="${session.newCarport != null && session.newCarport.shedLength == 210.0}">210 cm</option>
                            <option value="240" th:selected="${session.newCarport != null && session.newCarport.shedLength == 240.0}">240 cm</option>
                            <option value="270" th:selected="${session.newCarport != null && session.newCarport.shedLength == 270.0}">270 cm</option>
                            <option value="300" th:selected="${session.newCarport != null && session.newCarport.shedLength == 300.0}">300 cm</option>
                        </select>
                    </div>

                    <div class="flex-container-shed-div">
                        <select name="width_shed" id="width-shed" required>
                            <option value="0" selected>Vælg bredden på skuret</option>
                            <option value="300" th:selected="${session.newCarport != null && session.newCarport.shedWidth == 300.0}">300 cm</option>
                            <option value="330" th:selected="${session.newCarport != null && session.newCarport.shedWidth == 330.0}">330 cm</option>
                            <option value="360" th:selected="${session.newCarport != null && session.newCarport.shedWidth == 360.0}">360 cm</option>
                            <option value="390" th:selected="${session.newCarport != null && session.newCarport.shedWidth == 390.0}">390 cm</option>
                            <option value="420" th:selected="${session.newCarport != null && session.newCarport.shedWidth == 420.0}">420 cm</option>
                            <option value="450" th:selected="${session.newCarport != null && session.newCarport.shedWidth == 450.0}">450 cm</option>
                            <option value="480" th:selected="${session.newCarport != null && session.newCarport.shedWidth == 480.0}">480 cm</option>
                            <option value="510" th:selected="${session.newCarport != null && session.newCarport.shedWidth == 510.0}">510 cm</option>
                            <option value="540" th:selected="${session.newCarport != null && session.newCarport.shedWidth == 540.0}">540 cm</option>
                            <option value="570" th:selected="${session.newCarport != null && session.newCarport.shedWidth == 570.0}">570 cm</option>
                            <option value="600" th:selected="${session.newCarport != null && session.newCarport.shedWidth == 600.0}">600 cm</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-container">
            <input class="betal" type="submit" value="Se Tegning" formaction="/createcarport">
        </div>
    </form>
</div>

<script>
    function toggleShedDropdown() {
        var shedCheckbox = document.getElementById("with-shed");
        var shedDropdown = document.getElementById("dropdown-container-shed");

        if (shedCheckbox.checked) {
            shedDropdown.style.display = "inline-block";
        } else {
            shedDropdown.style.display = "none";
        }
    }

    toggleShedDropdown()
</script>

</body>

</html>
