<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">

<title>User Info</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>

<body>
<div class="login-page">

    <div class="page">
        <form class="generic-form" method="post">
            <label>
                <input type="text" name="email" placeholder="Enter your email"/>
            </label>

            <label>
                <input type="text" name="name" placeholder="Enter your name"/>
            </label>

            <label>
                <input type="text" name="mobile" placeholder="Enter your mobilenumber"/>
            </label>

            <label>
                <input type="text" name="address" placeholder="Enter your address"/>
            </label>

            <label>
                <input type="text" name="zipcode" placeholder="Enter your zipcode"/>
            </label>

            <label>
                <input type="password" name="password1" placeholder="Enter your password"/>
            </label>

            <label>
                <input type="password" name="password2" placeholder="Enter your password again"/>
            </label>

            <button type="submit" formaction="/createuser">Create User</button>

        </form>

        <div id="hiddenDiv" class="modal" th:if="${error}" >
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p id="messageText" th:text="${message}"></p>
            </div>
        </div>

    </div>
</div>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        var login = [[${error}]];
        if (login) {
            // Hvis noget er created, vis det skjulte div-element
            var hiddenDiv = document.getElementById("hiddenDiv");
            hiddenDiv.style.display = "block";
            showMessage([[${message}]]);
        }
    });
    // Funktion for at vise meddelelsen
    function showMessage(message) {
        var modal = document.getElementById("hiddenDiv");
        var messageText = document.getElementById("messageText");
        messageText.textContent = message; // Sæt meddelelsesindholdet
        modal.style.display = "block"; // Vis modalen
    }
    // Funktion for at lukke modalen
    function closeModal() {
        var modal = document.getElementById("hiddenDiv");
        modal.style.display = "none"; // Skjul modalen
        var loginsuccess = [[${loginsuccess}]];
        if (loginsuccess) {
            window.location.href = "index.html";
        }
    }
</script>
</body>
</html>