<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <title>User Info</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/navbarStyling.css" th:href="@{/css/navbarStyling.css}" rel="stylesheet"/>
    <link href="../public/css/InputStyling.css" th:href="@{/css/InputStyling.css}" rel="stylesheet"/>
</head>

<header>
    <!-- Navigation bar -->
    <div class="navbar">
        <form id="navigationForm" method="get">
            <button type="submit" formaction="/" class="nav-btn">1. Carport Specs</button>
            <button type="submit" formaction="/carport-drawing" class="nav-btn">2. Carport Drawing</button>
            <button type="submit" formaction="/user-details" class="nav-btn active">3. User Details</button>
            <button type="submit" formaction="/confirmation" class="nav-btn">4. Confirmation</button>
        </form>
    </div>

</header>

<body>
<div class="login-page">

    <div class="page">
        <h1>User Info</h1>
        <form class="generic-form" method="post">
            <div class="form-group">
                <input type="text" name="email" placeholder="Enter your email" />
            </div>

            <div class="form-group">
                <input type="text" name="name" placeholder="Enter your name" />
            </div>

            <div class="form-group">
                <input type="text" name="mobile" placeholder="Enter your mobilenumber" />
            </div>

            <div class="form-group">
                <input type="text" name="address" placeholder="Enter your address" />
            </div>

            <div class="form-group">
                <input type="text" name="zipcode" placeholder="Enter your zipcode" />
            </div>

            <div class="form-group">
                <input type="password" name="password1" placeholder="Enter your password" />
            </div>

            <div class="form-group">
                <input type="password" name="password2" placeholder="Enter your password again" />
            </div>

            <div class="button-container">
                <button type="submit" formaction="/createuser" class="betal">Create User</button>
            </div>

        </form>

        <div id="hiddenDiv" class="modal" th:if="${error}">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p id="messageText" th:text="${message}"></p>
            </div>
        </div>

    </div>
</div>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var login = [[${error}]];
        if (login) {
            // Hvis noget er created, vis det skjulte div-element
            var hiddenDiv = document.getElementById("hiddenDiv");
            hiddenDiv.style.display = "block";
            showMessage([[${message}]]);
        }
    });
    // Funktion for at vise meddelelsen
    function showMessage(message) {
        var modal = document.getElementById("hiddenDiv");
        var messageText = document.getElementById("messageText");
        messageText.textContent = message; // Sæt meddelelsesindholdet
        modal.style.display = "block"; // Vis modalen
    }
    // Funktion for at lukke modalen
    function closeModal() {
        var modal = document.getElementById("hiddenDiv");
        modal.style.display = "none"; // Skjul modalen
        var loginsuccess = [[${loginsuccess}]];
        if (loginsuccess) {
            window.location.href = "index.html";
        }
    }
</script>
</body>

</html>
