<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">

<title>User Info</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>

<body>
<div class="login-page">

    <div class="page">
        <form class="generic-form" method="post">
            <label>
                <input type="text" name="email" placeholder="Enter your email"/>
            </label>

            <label>
                <input type="text" name="name" placeholder="Enter your name"/>
            </label>

            <label>
                <input type="text" name="mobile" placeholder="Enter your mobilenumber"/>
            </label>

            <label>
                <input type="text" name="address" placeholder="Enter your address"/>
            </label>

            <label>
                <input type="text" name="zipcode" placeholder="Enter your zipcode"/>
            </label>

            <label>
                <input type="password" name="password1" placeholder="Enter your password"/>
            </label>

            <label>
                <input type="password" name="password2" placeholder="Enter your password again"/>
            </label>

            <button type="submit" formaction="/createuser">Create User</button>

        </form>

    </div>
</div>

</body>
</html>