<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>FOG Carport</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/bookiBois.css" th:href="@{/css/bookiBois.css}" rel="stylesheet"/>
</head>

<body>

<div class="page">
    <header>
        <div>
            <a href="../index.html" th:href="@{/}">
                <img alt="logo" src="../public/images/johannes_fog_as_cover.jpeg" th:src="@{/images/johannes_fog_as_cover.jpeg}"/>
            </a>
        </div>
    </header>

    <div class="topnav">
        <div class="left">
            <a th:if="${session.currentUser == null}" href="login.html" th:href="@{/login/}">Login</a>
            <a th:if="${session.currentUser != null}" href="index.html" th:href="@{/logout/}">Logout</a>
        </div>
        <div class="basket-right">
            <form method="get">
                <label th:text="${session.orderCount}"></label>
                <button type="submit" class="basket" formaction="/showcupcakes">
                    <img src="../public/images/shopping-bag.png" th:src="@{/images/shopping-bag.png}"
                         alt="Shopping Bag"/>
                </button>
            </form>
        </div>
        <div class="right">
            <a th:if="${session.currentUser != null}" th:text="${session.currentUser.email}"></a>
        </div>
    </div>

    <div class="table-form">
    <form class="form-table" id="myForm" action="" method="post">
        <h1 >Design din Carport hos FOG</h1>
        <div class="dropdown-container-carport">
            <select name="width" id="width" required>
                <option value="" disabled selected>Vælg bredden på carporten</option>
                <option value="3.0">3.0</option>
                <option value="3.3">3.3</option>
                <option value="3.6">3.6</option>
                <option value="3.9">3.9</option>
                <option value="4.2">4.2</option>
                <option value="4.5">4.5</option>
                <option value="4.8">4.8</option>
                <option value="5.1">5.1</option>
                <option value="5.4">5.4</option>
                <option value="5.7">5.7</option>
                <option value="6.0">6.0</option>
            </select>
            <select name="length" id="length" required>
                <option value="" disabled selected>Vælg længden på carporten</option>
                <option value="2.4">2.4</option>
                <option value="2.7">2.7</option>
                <option value="3.0">3.0</option>
                <option value="3.3">3.3</option>
                <option value="3.6">3.6</option>
                <option value="3.9">3.9</option>
                <option value="4.2">4.2</option>
                <option value="4.5">4.5</option>
                <option value="4.8">4.8</option>
                <option value="5.1">5.1</option>
                <option value="5.4">5.4</option>
                <option value="5.7">5.7</option>
                <option value="6.0">6.0</option>
                <option value="6.3">6.3</option>
                <option value="6.6">6.6</option>
                <option value="6.9">6.9</option>
                <option value="7.2">7.2</option>
                <option value="7.5">7.5</option>
                <option value="7.8">7.8</option>
            </select>
            <select name="height" id="height" required>
                <option value="" disabled selected>Vælg højden på carporten</option>
                <option value="2.1">2.1</option>
                <option value="2.4">2.4</option>
                <option value="2.7">2.7</option>
            </select>
        </div>
        <div>
            <select style="width: 250px;" name="roof" id="roof" required>
                <option value="nej" selected>Tilvalg af tag</option>
                <option value="ja">Plastmo Ecolite Trapezplade</option>
                <option value="nej">nej tak</option>
            </select>
        </div>
        <div class="with-shed">
            <label class="with-shed" for="with-shed"> Med skur</label>
            <input type="checkbox" onclick="toggleShedDropdown()" id="with-shed" name="with-shed" value="Bike">
        </div>
        <div class="dropdown-container-shed-wrapper">
            <div class="dropdown-container-shed" id="dropdown-container-shed" style="display: none;">
                <div class="flex-container-shed-div">
                    <select name="length_shed" id="length-shed" required>
                        <option value="0" selected>Vælg længden på skuret</option>
                        <option value="1.8">1.8</option>
                        <option value="2.1">2.1</option>
                        <option value="2.4">2.4</option>
                        <option value="2.7">2.7</option>
                        <option value="3.0">3.0</option>
                    </select>
                </div>
                <div class="flex-container-shed-div">
                    <select name="width_shed" id="width-shed" required>
                        <option value="0" selected>Vælg bredden på skuret</option>
                        <option value="3.0">3.0</option>
                        <option value="3.3">3.3</option>
                        <option value="3.6">3.6</option>
                        <option value="3.9">3.9</option>
                        <option value="4.2">4.2</option>
                        <option value="4.5">4.5</option>
                        <option value="4.8">4.8</option>
                        <option value="5.1">5.1</option>
                        <option value="5.4">5.4</option>
                        <option value="5.7">5.7</option>
                        <option value="6.0">6.0</option>
                    </select>
                </div>
            </div>
        </div>
        <form method="post">
        <div class="button-container" style="margin-top: 20px;"> <!-- Tilføjet margin-top -->
            <input class="betal" type="submit" value="Se Tegning" formaction="/createcarport">
        </div>
        </form>
        <script>
            function toggleShedDropdown() {
                var shedCheckbox = document.getElementById("with-shed");
                var shedDropdown = document.getElementById("dropdown-container-shed");

                if (shedCheckbox.checked) {
                    shedDropdown.style.display = "inline-block";
                } else {
                    shedDropdown.style.display = "none";
                }
            }
        </script>
    </form>
</div>
</div>
</body>
</html>
