<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BookingBois</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/bookiBois.css" th:href="@{/css/bookiBois.css}" rel="stylesheet"/>
</head>

<body>

<div class="page">
    <header>
        <div>
            <a href="../index.html" th:href="@{/}">
                <img alt="logo" src="../public/images/olskersscupcakelogo.png"
                     th:src="@{/images/olskersscupcakelogo.png}"/>
            </a>
            <a href="../index.html" th:href="@{/}">
                <img alt="logo" src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"/>
            </a>
        </div>
    </header>

    <div class="topnav">
        <div class="left">
            <a th:if="${session.currentUser == null}" href="login.html" th:href="@{/login/}">Login</a>
            <a th:if="${session.currentUser != null}" href="index.html" th:href="@{/logout/}">Logout</a>
        </div>
        <div class="basket-right">
            <form method="get">
                <label th:text="${session.orderCount}"></label>
                <button type="submit" class="basket" formaction="/showcupcakes">
                    <img src="../public/images/shopping-bag.png" th:src="@{/images/shopping-bag.png}"
                         alt="Shopping Bag"/>
                </button>
            </form>
        </div>
        <div class="right">
            <a th:if="${session.currentUser != null}" th:text="${session.currentUser.email}"></a>
        </div>
    </div>


    <form class="form-table" id="myForm" action="" method="post">
        <h1>Velkommen ombord</h1>
        <h2>Øens bedste cupcakes. Vælg og bestil her:</h2>

        <div class="dropdown-container">
            <select name="bund" id="bund" required>
                <option value="" disabled selected>Vælg bund</option>
                <option th:each="bottom : ${bottomList}" th:value="${bottom.bottomId}"
                        th:text="${bottom.bottom} + ' - ' + ${bottom.price} + ' kr.'">

                </option>
            </select>
            <select name="topping" id="topping" required>
                <option value="" disabled selected>Vælg topping</option>
                <option th:each="topping : ${toppingList}" th:value="${topping.toppingId}"
                        th:text="${topping.topping} + ' - ' + ${topping.price} + ' kr.'">

                </option>

            </select>
            <select name="antal" id="antal" required>
                <!-- <option th:text="${antal}" th:value="${antal}">Vælg antal</option> -->
                <option value="" disabled selected>Vælg antal</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>

        <div class="button-container">
            <input class="betal" type="submit" value="Læg i kurv" formaction="/createorder">
        </div>

        <div id="hiddenDiv" class="modal" th:if="${ordercreated}">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p id="messageText" th:text="${message}"></p>
            </div>
        </div>
    </form>
</div>

<script th:inline="javascript">

    document.addEventListener("DOMContentLoaded", function () {
        var ordercreated = [[${ordercreated}]];
        if (ordercreated) {
            // Hvis noget er booket, vis det skjulte div-element
            var hiddenDiv = document.getElementById("hiddenDiv");
            hiddenDiv.style.display = "block";
            showMessage([[${message}]]);
        }
    });
</script>


<script>
    var today = new Date();
    var dd = today.getDate() + 1;
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd;
    }

    if (mm < 10) {
        mm = '0' + mm;
    }

    today = yyyy + '-' + mm + '-' + dd;
    var dateInput = document.getElementById('dato');

    dateInput.setAttribute("min", today);

    // Get reference to the date input field

    var form = document.getElementById('myForm');

    // Add event listener for change event
    dateInput.addEventListener('change', function () {
        // Set the form action dynamically
        form.action = "/gettimeslots";
        // Submit the form
        form.submit();
    });

</script>
<script>
    // Funktion for at vise meddelelsen
    function showMessage(message) {
        var modal = document.getElementById("hiddenDiv");
        var messageText = document.getElementById("messageText");
        messageText.textContent = message; // Sæt meddelelsesindholdet
        modal.style.display = "block"; // Vis modalen
    }

    // Funktion for at lukke modalen
    function closeModal() {
        var modal = document.getElementById("hiddenDiv");
        modal.style.display = "none"; // Skjul modalen
    }


</script>


</body>

</html>
