<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carpool Admin Panel</title>
    <link href="../public/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet"/>
</head>
<body>

<div id="hiddenDiv" class="modal" th:if="${ordercreated}">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div th:if="${customerOrders}">
            <h2>Orders produced:</h2>
            <table>
                <thead>
                <tr>
                    <th>Ordreid</th>
                    <th>Ordredato</th>
                    <th>Carport Bredde</th>
                    <th>Carport Højde</th>
                    <th>Carport Længde</th>
                    <th>Skurets Bredde</th>
                    <th>Skurets Længde</th>
                    <th>Materiale Pris</th>
                    <th>Salgs Price</th>
                    <th>Userid</th>
                    <th>Ordre Status</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${customerOrders}" th:if="${order.orderStatus == 'produceret'}">
                    <td th:text="${order.orderId}">OrderId</td>
                    <td th:text="${order.orderDate}">Ordre Dato</td>
                    <td th:text="${order.carportWidth}">CarportWidth</td>
                    <td th:text="${order.carportHeight}">CarportHeight</td>
                    <td th:text="${order.carportLength}">CarportLength</td>
                    <td th:text="${order.shedWidth}">Shed Width</td>
                    <td th:text="${order.shedLength}">Shed Length</td>
                    <td th:text="${order.materialCost}">Material Cost</td>
                    <td th:text="${order.salesPrice}">Sales Price</td>
                    <td th:text="${order.userId}">UserId</td>
                    <td th:text="${order.orderStatus}">Order Status</td>
                    <td th:text="${order.userEmail}">Email</td>
                    <td>
                        <button type="submit" name="orderId" th:value="${order.orderId}" formaction="/orderpickedup"
                                class="produced-button">Afhentet
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>




        <p id="messageText" th:text="${message}"></p>
    </div>
</div>





<script th:inline="javascript">
    // Funktion til at vise modalen
    document.addEventListener("DOMContentLoaded", function () {
        var ordercreated = [[${ordercreated}]];
        if (ordercreated) {
            // Hvis noget er booket, vis det skjulte div-element
            var hiddenDiv = document.getElementById("hiddenDiv");
            hiddenDiv.style.display = "block";
            showMessage([[${message}]]);
        }
    });

    // Funktion for at vise meddelelsen
    function showMessage(message) {
        var modal = document.getElementById("hiddenDiv");
        var messageText = document.getElementById("messageText");
        messageText.textContent = message; // Sæt meddelelsesindholdet
        modal.style.display = "block"; // Vis modalen
    }

    // Funktion for at lukke modalen
    function closeModal() {
        var modal = document.getElementById("hiddenDiv");
        modal.style.display = "none"; // Skjul modalen
    }
</script>


</body>
</html>