<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <title>Tegning</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../public/css/navbarStyling.css" th:href="@{/css/navbarStyling.css}" rel="stylesheet"/>
    <link href="../public/css/newShowCarport.css" th:href="@{/css/newShowCarport.css}" rel="stylesheet"/>

</head>

<header>
    <!-- Navigation bar -->
    <div class="navbar">
        <h1>Fog</h1>
        <form id="navigationForm" method="get">
            <button type="submit" formaction="/" class="nav-btn">1. Carport Specs</button>
            <button type="submit" formaction="/carport-drawing" class="nav-btn active">2. Carport Drawing</button>
            <button type="submit" formaction="/user-details" class="nav-btn">3. User Details</button>
            <button type="submit" formaction="/confirmation" class="nav-btn">4. Confirmation</button>
        </form>
    </div>
</header>


<body>
<div class="page-showorder">
    <form class="form-table" th:method="get">
        <h1>Tegning af din carport</h1>

        <div class="carport-svg-topview">
            <div class="carport-svg-topview" th:utext="${session.svgFromSide}"></div>
            <div class="carport-svg-topview" th:utext="${session.svgFromTop}"></div>
        </div>

        <table class="carporttable">
            <tr>
                <td>Carport bredde:</td>
                <td style="text-align: right;" th:text="${session.newCarport.width}"></td>
                <td style="text-align: left;">cm</td>
            </tr>
            <tr>
                <td>Carport længde:</td>
                <td style="text-align: right;" th:text="${session.newCarport.length}"></td>
                <td style="text-align: left;">cm</td>
            </tr>
            <tr>
                <td>Carport højde:</td>
                <td style="text-align: right;" th:text="${session.newCarport.height}"></td>
                <td style="text-align: left;">cm</td>
            </tr>
            <tr th:if="${session.newCarport.shedWidth} != 0">
                <td>Skur bredde:</td>
                <td style="text-align: right;" th:text="${session.newCarport.shedWidth}"></td>
                <td style="text-align: left;">cm</td>
            </tr>
            <tr th:if="${session.newCarport.shedLength} != 0">
                <td>Skur længde:</td>
                <td style="text-align: right;" th:text="${session.newCarport.shedLength}"></td>
                <td style="text-align: left;">cm</td>
            </tr>
            <tr>
                <td>Den samlede pris, uden fortjeneste, for carporten bliver : </td>
                <td style="text-align: right;" th:text="${session.carportprice}"></td>
                <td style="text-align: left;">kr.</td>
            </tr>
        </table>

        <div th:if="${session.showpartslist}">
            <!--span class="close" onclick="closeModal()">&times;</span-->

            <table id="partsTable" class="table">
                <thead>
                <tr>
                    <th>Produktbeskrivelse</th>
                    <th>Længde</th>
                    <th>Antal</th>
                    <th>Enhed</th>
                    <th>Beskrivelse</th>
                    <th>Enkel Pris</th>
                    <th>Samlede Pris</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="part : ${session.partsList}">
                    <td th:text="${part.DBdescription}">Name</td>
                    <td th:text="${part.DBlength}">Length</td>
                    <td th:text="${part.quantity}">Quantity</td>
                    <td th:text="${part.DBunit}">Unit</td>
                    <td th:text="${part.DBname}">Beskrivelse</td>
                    <td th:text="${part.DBprice}">Enkel Pris</td>
                    <td th:text="${part.DBtotalQuantityPrice}">Samlede Pris</td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="button-container-checkout">
            <input class="shopping" style="margin-right: 20px;" type="submit" value="Ændre Bestilling"
                   formaction="/changeorder">
            <button class="betal" type="submit" name="ordercarport" th:value="${length}" formaction="/user-details">
                Videre
            </button>
        </div>
    </form>
</div>
<script>

    // Funktion til at vise modalen
    /*

        document.addEventListener("DOMContentLoaded", function () {
            var showpartslist = [[${session.showpartslist}]];
            if (showpartslist) {
                var hiddenDiv = document.getElementById("hiddenDiv");
                hiddenDiv.style.display = "block";
            }
        });

        // Funktion for at lukke modalen
        function closeModal() {
            var modal = document.getElementById("hiddenDiv");
            modal.style.display = "none";
        }


    */


</script>

</body>
</html>