<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="../public/css/showcarport.css" th:href="@{/css/showcarport.css}" rel="stylesheet"/>
</head>

<body>
<div class="page">
    <form class="form-table" th:action="@{/ordercarport}" th:method="POST">
<h1 style="margin-left: 80px;">Ordre nummer: 12143</h1>

<div class="carport-svg-topview">
    <div class="carport-svg-topview" th:utext="${svg}"></div>
</div>

<div class="button-container-checkout">
    <input class="shopping" style="margin-right: 20px;" type="submit" value="Ændre Bestilling" formaction="/changeorder">
    <button class="betal" type="submit" name="ordercarport" th:value="${length}" formaction="/ordercarport" >Bestil din Carport</button>
</div>

</form>
</div>
</body>
</html>