<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <title>Fog Carport - Bruger Oplysninger</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/carport.css" th:href="@{/css/carport.css}" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <div class="left-inner-page">
        <header>
            <div class="navbar">
                <div class="logo">
                    <h1>Fog</h1>
                </div>
                <form id="navigationForm" method="get">
                    <button type="submit" formaction="/" class="nav-btn">
                        <div class="number">1</div>
                        <span>Specifikationer</span></button>
                    <button type="submit" formaction="/carport-drawing" class="nav-btn-over">
                        <div class="number">2</div>
                        <span>Tegning</span></button>
                    <button type="submit" formaction="/user-details" class="nav-btn active">
                        <div class="number-active">3</div>
                        <span>Registrering</span></button>
                    <button type="submit" formaction="/confirmation" class="nav-btn-under">
                        <div class="number">4</div>
                        <span>Bekræftelse</span></button>
                    <button type="submit" formaction="/ToLogin" class="nav-btn"><span>Login</span></button>
                </form>
            </div>
        </header>
    </div>

    <div class="right-inner-page">
        <form class="generic-form" method="post">
            <div class="form-group">
                <h2>Email</h2>
                <div class="select-wrapper">
                    <input type="text" name="email" placeholder="Indtast din email"
                           th:value="${session.currentUser != null ? session.currentUser.email : ''}"/>
                </div>
            </div>
            <div class="form-group">
                <h2>Navn</h2>
                <div class="select-wrapper">
                    <input type="text" name="name" placeholder="Indtast dit navn"
                           th:value="${session.currentUser != null ? session.currentUser.name : ''}"/>
                </div>
            </div>
            <div class="form-group">
                <h2>Mobil</h2>
                <div class="select-wrapper">
                    <input type="text" name="mobile" placeholder="Indtast dit telefonnummer"
                           th:value="${session.currentUser != null ? session.currentUser.mobile : ''}"/>
                </div>
            </div>
            <div class="form-group">
                <h2>Adresse</h2>
                <div class="select-wrapper">
                    <input type="text" name="address" placeholder="Indtast din adresse"
                           th:value="${session.currentUser != null ? session.currentUser.address : ''}"/>
                </div>
            </div>
            <div class="form-group">
                <h2>Postnummer</h2>
                <div class="select-wrapper">
                    <input type="text" name="zipcode" placeholder="Indtast dit postnummer"
                           th:value="${session.currentUser != null ? session.currentUser.zipcode : ''}"/>
                </div>
            </div>
            <div class="form-group">
                <button id="paymentButton" name="ordercarport" th:value="${length}" formaction="/ToConfirmation">
                    <span class="staticPart">Videre  </span><span class="movingPart"> &#x2192;</span>
                </button>
            </div>
        </form>
        <div id="hiddenDiv" class="modal" th:if="${error}">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p id="messageText" th:text="${message}"></p>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var login = [[${error}]];
        if (login) {
            // Hvis noget er created, vis det skjulte div-element
            var hiddenDiv = document.getElementById("hiddenDiv");
            hiddenDiv.style.display = "block";
            showMessage([[${message}]]);
        }
    });

    // Funktion for at vise meddelelsen
    function showMessage(message) {
        var modal = document.getElementById("hiddenDiv");
        var messageText = document.getElementById("messageText");
        messageText.textContent = message; // Sæt meddelelsesindholdet
        modal.style.display = "block"; // Vis modalen
    }

    // Funktion for at lukke modalen
    function closeModal() {
        var modal = document.getElementById("hiddenDiv");
        modal.style.display = "none"; // Skjul modalen
        var loginsuccess = [[${loginsuccess}]];
        if (loginsuccess) {
            window.location.href = "index.html";
        }
    }
</script>
</body>

</html>
