<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <title>User Info</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/carport.css" th:href="@{/css/carport.css}" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <div class="left-inner-page">
        <header>
            <div class="navbar">
                <h1>Fog</h1>
                <form id="navigationForm" method="get">
                    <button type="submit" formaction="/" class="nav-btn">1. Specifikationer</button>
                    <button type="submit" formaction="/carport-drawing" class="nav-btn">2. Tegning</button>
                    <button type="submit" formaction="/user-details" class="nav-btn active">3. Registrering</button>
                    <button type="submit" formaction="/confirmation" class="nav-btn">4. Bekræftelse</button>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <button type="submit" formaction="/ToLogin" class="nav-btn">Login</button>
                </form>
            </div>
        </header>
    </div>

    <div class="right-inner-page">
        <form class="generic-form" method="post">
            <h1>Bruger informationer</h1>
            <div class="form-group">
                <input type="text" name="email" placeholder="Enter your email"
                       th:value="${session.currentUser != null ? session.currentUser.email : ''}"/>
            </div>

            <div class="form-group">
                <input type="text" name="name" placeholder="Enter your name"
                       th:value="${session.currentUser != null ? session.currentUser.name : ''}"/>
            </div>

            <div class="form-group">
                <input type="text" name="mobile" placeholder="Enter your mobilenumber"
                       th:value="${session.currentUser != null ? session.currentUser.mobile : ''}"/>
            </div>

            <div class="form-group">
                <input type="text" name="address" placeholder="Enter your address"
                       th:value="${session.currentUser != null ? session.currentUser.address : ''}"/>
            </div>

            <div class="form-group">
                <input type="text" name="zipcode" placeholder="Enter your zipcode"
                       th:value="${session.currentUser != null ? session.currentUser.zipcode : ''}"/>
            </div>
            <div class="button-container">
                <button type="submit" formaction="/ToConfirmation" class="payment">Videre</button>
            </div>

        </form>

        <div id="hiddenDiv" class="modal" th:if="${error}">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p id="messageText" th:text="${message}"></p>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var login = [[${error}]];
        if (login) {
            // Hvis noget er created, vis det skjulte div-element
            var hiddenDiv = document.getElementById("hiddenDiv");
            hiddenDiv.style.display = "block";
            showMessage([[${message}]]);
        }
    });

    // Funktion for at vise meddelelsen
    function showMessage(message) {
        var modal = document.getElementById("hiddenDiv");
        var messageText = document.getElementById("messageText");
        messageText.textContent = message; // Sæt meddelelsesindholdet
        modal.style.display = "block"; // Vis modalen
    }

    // Funktion for at lukke modalen
    function closeModal() {
        var modal = document.getElementById("hiddenDiv");
        modal.style.display = "none"; // Skjul modalen
        var loginsuccess = [[${loginsuccess}]];
        if (loginsuccess) {
            window.location.href = "index.html";
        }
    }
</script>
</body>

</html>
